<html>
    <head>
        <title>Caitlin's blog</title>
        <style>
          h1 {text-align:center;}
          h2 {text-align:center;}
          p {text-align:center;}
</style>
    </head>
    <body background="https://steamuserimages-a.akamaihd.net/ugc/870748997466000124/F1B88FD2E6D2A86F5FE2B028654C7ECDCBD4DE6D/?imw=1024&imh=819&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true">
      <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>      
        <h1 style="color:white;">You have been chosen</h1>
        <p style="color:white;"> <strong>Welcome</strong></p>
        <p style="color:white;">to the</p>
        </div>
        <div>
          <h2 style="color:red;"> hackerverse </h2>
        </div>
    </body>
</html>
