<html>
    <head>
        <title>Caitlin's blog</title>
        <style>
          h1 {text-align:center;}
          h2 {text-align:center;}
          p {text-align:center;}
</style>
    </head>
    <body background="https://steamuserimages-a.akamaihd.net/ugc/870748997466000124/F1B88FD2E6D2A86F5FE2B028654C7ECDCBD4DE6D/?imw=1024&imh=819&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true">
      <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 style="color:white;">You have been chosen</h1>
        <p style="color:white;"> <strong>Welcome to the</strong></p>
        </div>
        <div>
          <h1 style="color:white;"> H-A-C-K-E-R-V-E-R-S-E </h1>
        </div>
        <br>
        <br>
        <br>
        <div>
    {% for post in posts %}
    <div>
        <h2><a href="">{{ post.title }}</a></h2>
        <p style="color:red;">{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
          </div>
    </body>
</html>
