{% load static %}
<html>
    <head>
        <title>Caitlin's blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <style>
          h1 {text-align:center;}
          h2 {text-align:center;}
          h3 {text-align:center;}
          p {text-align:center;}
</style>
    </head>
    <body background="https://steamuserimages-a.akamaihd.net/ugc/870748997466000124/F1B88FD2E6D2A86F5FE2B028654C7ECDCBD4DE6D/?imw=1024&imh=819&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true">
      <div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1>You have been chosen</h1>
        <h3> <strong>www.elcome to the</strong></h3>
        </div>
        <div>
          <h1> H-A-C-K-E-R-V-E-R-S-E </h1>
        </div>
        <br>
        <br>
        <div>
    {% for post in posts %}
    <div>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
          </div>
    </body>
</html>
